.content {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    flex-wrap: wrap;
    width: 1000px;
    margin-inline: auto;
}
.content__menu {
    display: flex;
    flex-direction: column;
}
.menu__submenu {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: auto;
}
.menu__submenu > .menu__submenu {
    margin-left: 30px;
}
.menu__element {
    width: 300px;
}

@media (max-width: 700px) {
    .content {
        width: auto;
    }
    .content__logo-image {
        width: 300px;
        height: auto;
    }
    p:first-child {
        margin-inline: 20px;
        text-align: center;
    }
}